.container{
	background-color: #F4F4F4;
}
.bottom{
	position: fixed;
	width: 100%;
	height: 50px;
	border: solid;
	border-width: 1px 0 0 0;
	border-color: #D7D7D7;
    bottom: 0;
    background-color: #FFFFFF;
}
.a{
	float: left;
	width: 25%;
	height: 50px;
	padding-top: 8px; 
	text-align: center;
	line-height: 10px;
	color: #DE688A;
}
.p{
	font-size: 12px;
}
.d1{
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	background-color: #FFFFFF;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: #E6E6E6;
	padding: 0;
	z-index: 1;
}
#l2{
	border: solid;
	border-width: 0 0 3px 0;
	border-color: #FA7399;
}
.d1-1{
	float: left;
	height: 60px;
	width: 25%;
	text-align: center;
	line-height: 80px;
	font-size: 16px;
	color: #999999;
	list-style: none;
	border: solid;
	border-width: 0;
	border-color: #FFFFFF;
}
.d2{
	width: 100%;
	height: 101px;
	margin-bottom: 12px;
	color: #FFFFFF;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: #E6E6E6;
	text-align: center;
}
.d3{
	height: 94px;
	background-color: #FFFFFF;
	padding: 0 16px 0 16px;
	border: solid;
	border-width: 1px 0 1px 0;
	border-color: #E6E6E6;
}
.d3-1{
	float: left;
	height: 94px;
	width: 25%;
	text-align: center;
	padding-top: 22px;
}
.img1{
	width: 42px;
	height: 42px;
}
.p1{
	font-size: 12px;
	color: #000000;
}
.d4{
	height: 74px;
	padding: 0 9px 0 9px;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: #E6E6E6;
}
.d4-1{
	float: left;
	width: 33.3333333%;
	text-align: center;
	padding-top: 15px;
}
.img2{
	width: 90px;
	height: 40px;
}
.d5{
	height: 525px;
	padding: 0 10px 0 10px;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: #E6E6E6;
	margin-bottom: 12px;
	background-color: #FFFFFF;
}
.d5-1{
	height: 45px;
	font-size: 14px;
	line-height: 45px;
	padding: 0 3px 0 3px;
}
.img3{
	width: 20px;
	height: 20px;
}
.d5-1-1{
	float: right;
	color: #C1C1C1;
}
.d5-2{
	float: left;
	width: 50%;
	height: 160px;
	text-align: center;
	background-color: #FFFFFF;
}
.img4{
	width: 142px;
	height: 90px;
}
.p2{
	text-align: left;
	padding-left: 8px;
	font-size: 13px;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.p3{
	text-align: left;
	padding-left: 8px;
	font-size: 13px;
	color: #C1C1C1;
}
.d6-{
	padding: 0 13px 0 13px;
	background-color: #FFFFFF;
}
.d6{
	height: 218px;
	padding: 0 9px 0 9px;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: #E6E6E6;
	margin-bottom: 12px;
	background-color: #FFFFFF;
	overflow: auto;
}
.d6-1{
	width: 1088px;
	white-space: nowrap;
}
.d6-1-1{
	float: left;
	width: 128px;
	text-align: center;
}
.img5{
	width: 118px;
	height: 155px;
}
.d7{
	height: 203px;
	padding: 13px 13px 0 13px;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: #E6E6E6;
	margin-bottom: 12px;
	background-color: #FFFFFF;
	text-align: center;
}
.img6{
	height: 132px;
	width: 294px;
}
.d8{
	width: 100%;
	height: 457px;
	padding: 0 0 0 30px;
}
.d8-1{
	height: 80px;
	padding-top: 37px;
	text-align: center;
	font-size: 13px;
	color: #DE688A;
}
.img7{
	width: 52px;
	height: 52px;
}
.d9{
	height: 188px;
	background-color: #FFFFFF;
	padding: 0 16px 0 16px;
	border: solid;
	border-width: 2px 0 2px 0;
	border-color: #E6E6E6;
}
.p4{
	text-align: left;
	width: 90px;
	padding-left: 10px;
	font-size: 14px;
	color: #000000;
}
.d5-2-1{
	position: relative;
	top: -45px;
	left: 4px;
	width: 50px;
	border-radius: 4px;
	background-color: #E7E7E7;
	font-size: 14px;
}
.d5-2-2{
	position: relative;
	top: -65px;
	left: 25px;
	font-size: 14px;
}
.d10{
	width: 100%;
	height: 66px;
	border: solid;
	border-width: 0 0 2px 0;
	border-color: #E6E6E6;
	margin-bottom: 12px;
	background-color: #FFFFFF;
	padding: 14px 0 12px 14px;
}
.d10-1{
	width: 130px;
    height: 40px;
    border: solid 1px;
    border-color: #E6E6E6;
    border-radius: 6px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    color: #8F8F8F;
}
.p5{
	text-align: left;
	padding-left: 10px;
	font-size: 12px;
	color: #A0A0A0;
}
.d11{
	width: 100%;
	height: 66px;
	background-color: #FFFFFF;
	padding: 14px 0 14px 0;
	margin-bottom: 12px;
}
.d11-1{
	width: 225px;
    height: 40px;
    border-radius: 20px;
    background-color: #F4F4F4;
    margin: auto;
    font-size: 12px;
    text-align: center;
    line-height: 40px;
}
.img9{
	position: relative;
	top: -30px;
	left: 242px;
	width: 20px;
	height: 20px;
}
.d12{
	width: 100%;
	height: 90px;
	padding: 0 4px 0 4px;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: #E6E6E6;
}
.d12-1{
	float: left;
	width: 50%;
	text-align: center;
	padding-top: 9px;
}
.img10{
	width: 142px;
	height: 55px;
}
.d13{
	width: 100%;
	height: 125px;
	background-color: #FFFFFF;
	text-align: center;
	padding-top: 12px;
	border: solid;
	border-width: 0 0 1px 0;
	border-color: #E6E6E6;
	margin-bottom: 12px;
}
.img11{
	width: 294px;
	height: 100px;
}